/*
Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
*/

/* Copyright 2007 Google Inc.  All Rights Reserved. */
/* */


/*       light     dark  */
/* blue #445F61  #134A4F */
/* brown #886A47 #7C540E */
/* green #7B9563 #688847 */


/* --------------- Pagewide settings --------------- */


@import url(common.css);

html, body {
  height: 100%;
  display: block;
}

body {
  background-color: #fff;
}

div#everything {
  min-height: 100%;
  height: 100%;
  display: block;
}


/* -------------- header ----------------- */


#header {
  clear: both;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

#header h3 {
  padding: 8px 16px;
  font-size: 25px;
  color: #222;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f7f7));
}

#header #logged-in-as {
  padding-top: 0px;
  vertical-align: bottom;
  padding-bottom: 6px;
  padding-right: 8px;
  display: inline-block;
  color: #222;
  font-size: 15px;
}

.top-right-controls {
  float: right;
}

#header #header-top-right {
  padding: 3px 16px 3px 12px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-border-bottom-left-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  border-bottom-left-radius: 3px 3px;
}


/* --------------- 2 Column (left menu) settings --------------- */

.colmask {
  position: relative; /* This fixes the IE7 overflow hidden bug */
  clear: both;
  float: left;
  width: 100%; /* width of whole page */
  overflow: hidden; /* This chops off any overhanging divs */
}

.leftmenu {
  border-right:  1px solid #ddd;
}

.leftmenu .colright {
  float: left;
  width: 200%;
  position: relative;
  left: 200px;
  background: #fff;
}

.leftmenu .col1wrap {
  float: right;
  width: 50%;
  position: relative;
  right: 200px;
  padding-bottom: 1em;
}

.leftmenu .col1 {
  margin: 0 0 0 200px;
  position: relative;
  right: 100%;
  overflow: hidden;
}

.leftmenu .col2 {
  float: left;
  width: 200px;
  position: relative;
  right: 200px;
  border-right: 1px solid #ddd
}


/* --------------- scape styles ---------------*/

p.active {
   background: #fff;
}

#scape-panel {
  margin-top: 8px;
  margin-bottom: 32px;
   background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eee));
}

#scape-panel .section h4 {
  padding: 6px 16px;
}

#scape-panel .section h5 {
  padding: 6px 16px;
}

#scape-panel .category {
  margin-left: 10px;
}

#scape-panel .section p {
  padding: 4px 16px;
}


#scape-panel .section > p > span {
  vertical-align: top;
  line-height: 20px;
  padding-left: 3px;
}



/* ------------- stream flow styles ------------ */

div#flow-panel, div#stream-control {
  padding: 14px 16px 4px 16px;
  position: relative;
}


div#flow-panel {
  margin-right: 200px;
}

div#flow-panel .count {
  color: #999;
  padding-top: 12px;
  vertical-align: text-bottom;
  margin-right: 4px;
}

div#stream-control {
  /*border-left:  1px solid #ddd;*/
  float: right;
  position: relative;
}

div#droplet-panel {
  clear: both;
}

/* ------------ authpane ------------------ */

#authpane {
  text-align: center;
  padding: 100px 40px;
  position: relative;
  display: block;
  clear:both;

}

#authpane h3 {
  padding: 10px;
}


/* ------------- stream action styles ------------ */



/* --------------- stream styles ---------------*/


.droplet-type-icon {
  width: 20px;
  height: 20px;
  margin-bottom: -2px;
  padding-top: 1px;
}


img.twitter-avatar {
  width: 20px;
  height: 20px;
}

.droplet-preivews {
}

.droplet-preview {
  margin: 0 16px 0 16px;
  border-top: 1px solid #DDD;
  padding-top: 2px;
}

.droplet-preview > div, .droplet-preview > a {
  vertical-align: top;
  padding-top: 4px;
  padding-bottom: 3px;
  position: relative;
  display: inline-block;
}

.preview-sent {
  width: 120px;
}

.preview-from {
  width: 160px;
  padding-left: 4px;

}

.preview-groove-specific {
}

.droplet-preview a {
  float:right;
}
/*--------------- dialog styles ---------------*/

#modalmask {
  z-index: 10;
  text-align: left;
}

.standard-modal {
  width: 75%;
  height: 75%;
  border: 2px solid #000;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#contacts {
  overflow-x: hidden;
  overflow-y: scroll;
}

#contacts span.address {
  margin-right: 5px;
}

#contact-form {
  border: 2px solid #000;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 20px;
}

div#loading {
  z-index: 9999;
}

.overlay-mask {
  display: block;

  /*position it at the very top-left corner*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  /* fallback */
  background: rgb(0, 0, 0);

  /*in supporting browsers, make it
a little transparent*/
  background: rgba(200, 200, 200, .6);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #99000000, endColorstr = #99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  /*set the padding, so that the content
of the div is centered vertically*/
  padding-top: 5%;
}

/* contacts css */
.contact {
  padding: 0px;
  clear: both;
}

.contact-name {
  font-weight: bold;
}

.channel {
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
  margin-left: 4px;
}

.channel-addresses .channel {
  float: left;
}

/* --------------- Footer styles --------------- */
#footer {
  clear: both;
  float: left;
  width: 100%;
  border-top: 1px solid #ddd;
  background:  #eee;
}

#footer p {
  padding: 10px;
  margin: 0;

}

.rbutton {
  border: 1px solid #369;
  background-color: #ddd;
  width: 350px;
  padding: 2px;
  margin: 2px;
}

#footer-panel {
  clear: both;
  padding: 6px 16px;
  color: #999;
  font-style: italic;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eee));
}

#footer-panel a {
  text-decoration: none;
  color: #88c;
}

div#controls {
  margin: 16px;
}

div#the-receptor {
  margin:  16px;
}


/* ---------------  Misc. styles used for logging and debugging. --------------- */
fieldset {
  padding: 4px 8px;
  margin-bottom: 1em;
}

fieldset legend {
  font-weight: bold;
  color: #036;
}

label, input {
  vertical-align: middle;
}

.hint {
  font-size: 90%;
  color: #369;
}

.goog-debug-panel {
  border: 1px solid #369;
}

.goog-debug-panel .logdiv {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: dotted 1px;
}

.goog-debug-panel {
  height: 300px;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
}

.goog-debug-panel .logdiv .logmsg {
  font: normal 10px "Lucida Sans Typewriter", "Courier New", Courier, fixed;
}

.perf {
  margin: 0;
  border: 0;
  padding: 4px;
  font: italic 95% Arial, sans-serif;
  color: #999;
}

#perf {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  margin: 0;
  border: 0;
  padding: 4px;
  font: italic 95% Arial, sans-serif;
  color: #999;
}
